<div class="mx-6">
  <h1 class="mt-5 hidden md:block text-center text-4xl text-custom-orange font-bold">
    Tom's Trip (15/08/2024 - 25/08/2024)
  </h1>
  <h1 class="mt-5 md:hidden text-center text-4xl text-custom-orange font-bold">
    Tom's Trip
  </h1>
  <h2 class="mt-5 md:hidden text-center text-2xl text-custom-orange font-bold">
    (15/08/2024 - 25/08/2024)
  </h2>
  <div class="mt-10 w-96 m-auto">
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
      <li class="mb-10 ms-10">
        <span
          class="absolute flex items-center justify-center w-8 h-8 rounded-full -start-4 ring-8 bg-custom-orange ring-custom-orange"
        >
          <fa-icon class="fa-solid text-white" [icon]="faCalendarDay"></fa-icon>
        </span>
        <h3
          class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
        >
          25th of August 2024
          <span
            class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3"
            >Today</span
          >
        </h3>
        <ol class="list-disc ml-5 mt-4">
          <li
            class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400"
          >
            9:00 - Activiteit 1
          </li>
        </ol>
      </li>
    </ol>
  </div>
</div>
