<footer>
  <div class="mx-auto py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="#" class="flex items-center">
          <img class="cursor-pointer" src="assets/logo.png" alt="logo" />
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-white">Links</h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="/category" class="hover:underline">Categories</a>
            </li>
            <li>
              <a href="/aboutus" class="hover:underline">About us</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-white">
            Follow us
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a
                href="https://github.com/itfactory-tm/Angular-23-team-10"
                class="hover:underline"
                >Github</a
              >
            </li>
            <li>
              <a href="#" class="hover:underline">Discord</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-white">
            Contact
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline"
                ><i class="fas fa-phone me-3"></i>+ 01 234 567 88</a
              >
            </li>
            <li>
              <a href="mailto:planner@gmail.be" class="hover:underline"
                >Email: planner&#64;gmail.be</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© 2023 Copyright: Angular Project - Team 10
      </span>
    </div>
  </div>
</footer>
