<main>
  <section class="relative">
    <div class="carousel relative overflow-hidden">
      <div class="carousel-images flex transition-transform carousel-transition">
        <div class="w-full h-[350px] lg:h-[450px] xl:h-[550px] object-cover rounded-3xl">
          <img [src]="imageUrls[currentIndex]" [alt]="'place' + (currentIndex + 1)"
            class="w-full h-full object-cover rounded-3xl carousel-image">
        </div>
      </div>
      <div class="overlay absolute inset-0 bg-black opacity-50 rounded-3xl"></div>
    </div>

    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-center w-full">
      <h1 class="text-3xl sm:text-5xl md:text-6xl lg-text-7xl font-extrabold mb-4">
        Plan Your Dream Trip
      </h1>
      <p class="text-base sm:text-lg mb-6">
        Explore and create unforgettable memories in stunning places.
      </p>

      <!-- Updated Call to Action (CTA) Button Design with White Text -->
      <a href="#"
        class="bg-[#37888A] hover:bg-[#3EA393] text-white px-10 py-4 rounded-lg shadow-lg opacity-95 text-xl md:text-xl inline-block">
        Get started
      </a>
    </div>

    <div class="carousel-bullets absolute bottom-4 left-1/2 transform -translate-x-1/2 text-center">
      <span *ngFor="let imageUrl of imageUrls; let i = index" class="w-4 h-4 mx-1 inline-block rounded-full"
        [ngClass]="{'bg-[#37888A]': i === currentIndex, 'bg-gray-400': i !== currentIndex}">
      </span>
    </div>
  </section>

  <!-- Revised "Categories" Section -->
  <section class="my-10 md:my-20 lg:my-28 bg-gray-100 p-4 md:p-12 full-width-section">
    <div class="border-l-4 border-[#37888A] pl-4 mb-6">
      <h2 class="text-2xl sm:text-2xl md:text-3xl lg:text-4xl font-extrabold mb-4">Categories</h2>
      <p class="text-lg text-gray-600 mb-4">Discover and choose your next adventure.</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <!-- Category Card - Adventure -->
      <div class="bg-white rounded-lg overflow-hidden shadow-md relative">
        <img src="../../assets/adventure.jpg" alt="Adventure Category"
          class="w-full h-48 object-cover transform hover:scale-105 transition-transform">
        <div class="p-4 text-center absolute bottom-0 left-0 right-0 bg-black bg-opacity-70 text-white">
          <p class="text-lg font-semibold">Adventure</p>
        </div>
      </div>

      <!-- Category Card - Nature -->
      <div class="bg-white rounded-lg overflow-hidden shadow-md relative">
        <img src="../../assets/nature.jpg" alt="Nature Category"
          class="w-full h-48 object-cover transform hover:scale-105 transition-transform">
        <div class="p-4 text-center absolute bottom-0 left-0 right-0 bg-black bg-opacity-70 text-white">
          <p class="text-lg font-semibold">Nature</p>
        </div>
      </div>

      <!-- Category Card - City -->
      <div class="bg-white rounded-lg overflow-hidden shadow-md relative">
        <img src="../../assets/city.jpeg" alt="City Category"
          class="w-full h-48 object-cover transform hover:scale-105 transition-transform">
        <div class="p-4 text-center absolute bottom-0 left-0 right-0 bg-black bg-opacity-70 text-white">
          <p class="text-lg font-semibold">City</p>
        </div>
      </div>

      <!-- Category Card - Culture -->
      <div class="bg-white rounded-lg overflow-hidden shadow-md relative">
        <img src="../../assets/culture.jpg" alt="Culture Category"
          class="w-full h-48 object-cover transform hover:scale-105 transition-transform">
        <div class="p-4 text-center absolute bottom-0 left-0 right-0 bg-black bg-opacity-70 text-white">
          <p class="text-lg font-semibold">Culture</p>
        </div>
      </div>
    </div>
  </section>

  <section class="my-10 md:my-20 lg:my-28">
    <div class=" mb-4">
      <h2 class="text-center text-2xl sm:text-2xl md:text-3xl lg:text-4xl font-extrabold mb-2">Explore Popular <span
          class="text-[#37888A]">Destinations</span>
      </h2>
      <p class="text-center text-lg text-gray-600">These destinations are beloved by travelers worldwide. </p>
    </div>
    <div class="flex justify-between mb-4">
      <div>
      </div>
      <div class="flex gap-2">
        <fa-icon
          class="p-2 mr-2 text-xl cursor-pointer bg-white border-2 border-black w-10 h-10 lg:w-12 lg:h-12 flex items-center justify-center rounded-full"
          [icon]="faArrowLeft"></fa-icon>
        <fa-icon
          class="p-2 ml-2 text-xl cursor-pointer bg-[#37888A] text-white w-10 h-10 lg:w-12 lg:h-12 flex items-center justify-center rounded-full"
          [icon]="faArrowRight"></fa-icon>
      </div>

    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div class="max-w-md rounded-lg overflow-hidden shadow-lg">
        <img src="../../assets/adventure.jpg" alt="The Norwegian Fjords" class="w-full h-48 object-cover object-center">
        <div class="px-4 py-2">
          <h3 class="text-lg font-semibold mb-2">The Norwegian Fjords</h3>
          <div class="flex justify-between items-center">
            <div>
              <fa-icon [icon]="faLocation" class="text-blue-500"></fa-icon>
              <span class="ml-1 text-gray-700">Norwegian</span>
            </div>
            <div>
              <fa-icon [icon]="faStar" class="mr-2"></fa-icon>
              <span>4.5</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>