<main class="relative">
  <div class="carousel relative overflow-hidden">
    <div class="carousel-images flex transition-transform carousel-transition">
      <div class="w-full h-[550px] object-cover rounded-3xl">
        <img [src]="imageUrls[currentIndex]" [alt]="'place' + (currentIndex + 1)"
          class="w-full h-full object-cover rounded-3xl carousel-image" @carouselAnimation>
      </div>
    </div>
    <div class="overlay absolute inset-0 bg-black opacity-50 rounded-3xl"></div>
  </div>

  <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-center w-full">
    <h1 class="text-4xl sm:text-5xl md:text-6xl lg-text-7xl font-extrabold mb-4">
      Plan Your Dream Trip
    </h1>
    <p class="text-base sm:text-lg mb-6">
      Explore and create unforgettable memories in stunning places.
    </p>

    <!-- Updated Call to Action (CTA) Button Design with White Text -->
    <a href="#"
      class="bg-[#37888A] hover:bg-[#3EA393] text-white px-10 py-4 rounded-lg shadow-lg opacity-95 text-xl md:text-xl inline-block">
      Get started
    </a>
  </div>

  <div class="carousel-bullets absolute bottom-4 left-1/2 transform -translate-x-1/2 text-center">
    <span *ngFor="let imageUrl of imageUrls; let i = index" class="w-4 h-4 mx-1 inline-block rounded-full"
      [ngClass]="{'bg-[#37888A]': i === currentIndex, 'bg-gray-400': i !== currentIndex}">
    </span>
  </div>
</main>