<div class="mx-6">
  @if (isLoading) {
  <app-page-loader></app-page-loader>
  } @else {
  <!--  Small screen-->
  <div class="lg:hidden">
    <!--    Title-->
    <div class="mt-5 text-center text-custom-orange font-bold">
      <h1 class="text-4xl">
        {{ trip.name }}
      </h1>
      <h2 class="text-3xl mt-2">
        {{ trip.startDate | date : "d/MM/YY" }} -
        {{ trip.endDate | date : "d/MM/YY" }}
      </h2>
    </div>
    <!--    vertical timeline-->
    <div class="mt-10 flex justify-center ml-10">
      <ol class="relative border-s border-gray-700">
        @for (date of dates; track date) {
        <li class="mb-10 ms-10">
          <span
            class="absolute flex items-center justify-center w-8 h-8 rounded-full -start-4 ring-8 bg-custom-orange ring-custom-orange"
          >
            <fa-icon
              class="fa-solid text-white"
              [icon]="faCalendarDay"
            ></fa-icon>
          </span>
          <h3 class="flex items-center mb-1 text-lg font-semibold text-white">
            {{ date | date : "E, MMM dd" }}
            @if (isToday(date)) {
            <span
              class="text-sm font-medium me-2 px-2.5 py-1 rounded bg-blue-900 text-blue-300 ms-3"
              >Today</span
            >}
          </h3>
          <ol class="fa-ul ml-5 mt-4">
            @for (activity of trip.activities; track activity.tripActivityId) {
            @if (isCalendarDay(date, activity.startDate)) {
            <li
              class="mb-4 text-base text-gray-400"
              [ngClass]="{
                'font-normal': !isNow(activity.startDate, activity.endDate),
                'font-bold': isNow(activity.startDate, activity.endDate)
              }"
            >
              <span class="fa-li"
                ><fa-icon
                  class="fa-solid text-gray-400 fa-xs"
                  [icon]="faCircle"
                ></fa-icon
              ></span>
              {{ activity.startDate | date : "H:mm" }} -
              {{ activity.endDate | date : "H:mm" }}: {{ activity.name }}
            </li>
            } }
            <li
              class="mb-4 text-base font-normal text-gray-400 cursor-pointer hover:underline"
              (click)="add(date)"
            >
              <span class="fa-li"
                ><fa-icon
                  class="fa-solid text-gray-400"
                  [icon]="faPlus"
                ></fa-icon
              ></span>
              Add activity
            </li>
          </ol>
        </li>
        }
      </ol>
    </div>
  </div>

  <!--  Big screen-->
  <div class="hidden lg:block">
    <!--    Title-->
    <h1 class="mt-5 text-center text-4xl text-custom-orange font-bold">
      {{ trip.name }} ({{ trip.startDate | date : "d/MM/YYYY" }} -
      {{ trip.endDate | date : "d/MM/YYYY" }})
    </h1>
    <!--    horizontal timeline-->

    <ol class="mt-10 grid lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
      @for (date of dates; track date) {
      <li class="relative mb-10">
        <div class="flex items-center">
          <div
            class="z-10 flex items-center justify-center w-6 h-6 bg-custom-orange rounded-full ring-8 ring-custom-orange shrink-0"
          >
            <fa-icon
              class="fa-solid text-white"
              [icon]="faCalendarDay"
            ></fa-icon>
          </div>
          <div class="flex w-full bg-gray-700 h-0.5"></div>
        </div>
        <div class="mt-5">
          <h3 class="text-lg font-semibold text-white">
            {{ date | date : "E, MMMM dd" }}
            @if (isToday(date)) {
            <span
              class="text-sm font-medium me-2 px-2.5 py-1 rounded bg-blue-900 text-blue-300 ms-3"
              >Today</span
            >}
          </h3>
          <ol class="fa-ul ml-5 mt-4 self-start">
            @for (activity of trip.activities; track activity.tripActivityId) {
            @if (isCalendarDay(date, activity.startDate)) {
            <li
              class="mb-4 text-base text-gray-400 hover:underline cursor-pointer"
              [ngClass]="{
                'font-normal': !isNow(activity.startDate, activity.endDate),
                'font-bold': isNow(activity.startDate, activity.endDate)
              }"
            >
              <span class="fa-li">
                <fa-icon class="fa-solid text-gray-400 fa-xs" [icon]="faCircle">
                </fa-icon>
              </span>
              {{ activity.startDate | date : "H:mm" }} -
              {{ activity.endDate | date : "H:mm" }}: {{ activity.name }}
            </li>
            } }
            <li
              class="mb-4 text-base font-normal text-gray-400 cursor-pointer hover:underline"
              (click)="add(date)"
            >
              <span class="fa-li"
                ><fa-icon
                  class="fa-solid text-gray-400"
                  [icon]="faPlus"
                ></fa-icon
              ></span>
              Add activity
            </li>
          </ol>
        </div>
      </li>
      }
    </ol>
  </div>
  }
</div>
