<main class="text-white max-w-4xl mx-auto bg-custom-lighter-background mt-8 p-8 rounded-md">
  <section class="max-w-4xl mx-auto ">
    <ol class="flex items-center">
      <li [ngClass]="{
          'after:border-[#e66462]': currentStep > 1,
          'after:border-gray-700': currentStep === 1
        }"
        class="w-full flex items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-4 after:inline-block">
        <span [ngClass]="{ 'bg-[#e66462]': currentStep >= 1 }"
          class="flex items-center justify-center w-10 h-10 rounded-full lg:h-12 lg:w-12 shrink-0">
          <fa-icon class="flex items-center justify-center text-gray-100" [icon]="faCalendar"></fa-icon>
        </span>
      </li>
      <li [ngClass]="{
          'after:border-[#e66462]': currentStep > 2,
          'after:border-gray-700': currentStep === 2 || currentStep === 1
        }"
        class="w-full flex items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-4 after:inline-block">
        <span [ngClass]="{
            'bg-[#e66462]': currentStep >= 2,
            'bg-gray-700': currentStep === 1
          }" class="flex items-center justify-center w-10 h-10 rounded-full lg:h-12 lg:w-12 shrink-0">
          <svg class="w-4 h-4 lg:w-5 lg:h-5 text-gray-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 16">
            <path
              d="M18 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM6.5 3a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5ZM3.014 13.021l.157-.625A3.427 3.427 0 0 1 6.5 9.571a3.426 3.426 0 0 1 3.322 2.805l.159.622-6.967.023ZM16 12h-3a1 1 0 0 1 0-2h3a1 1 0 0 1 0 2Zm0-3h-3a1 1 0 1 1 0-2h3a1 1 0 1 1 0 2Zm0-3h-3a1 1 0 1 1 0-2h3a1 1 0 1 1 0 2Z" />
          </svg>
        </span>
      </li>
      <li [ngClass]="{
          'after:border-[#e66462]': currentStep > 3,
          'after:border-gray-700': currentStep === 3 || currentStep === 2
        }" class="flex items-center">
        <span [ngClass]="{
            'bg-[#e66462]': currentStep >= 3,
            'bg-gray-700': currentStep === 2 || currentStep === 1
          }"
          class="flex items-center justify-center w-10 h-10 after:bg-gray-100 rounded-full lg:h-12 lg:w-12 shrink-0">
          <svg class="w-4 h-4 lg:w-5 lg:h-5 text-gray-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 18 20">
            <path
              d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2ZM7 2h4v3H7V2Zm5.7 8.289-3.975 3.857a1 1 0 0 1-1.393 0L5.3 12.182a1.002 1.002 0 1 1 1.4-1.436l1.328 1.289 3.28-3.181a1 1 0 1 1 1.392 1.435Z" />
          </svg>
        </span>
      </li>
    </ol>
  </section>


  <section *ngIf="currentStep === 1" id="step1" class="max-w-4xl mx-auto ">
    <!-- Step 1 Content -->
    <div class="step-content mt-10" id="step-1">
      <h1 class="text-3xl lg:text-4xl font-bold mb-1">Create Your Trip</h1>
      <p class="text-lg text-gray-500">Enter your trip details below:</p>

      <form (ngSubmit)="nextStep()" #tripForm="ngForm">
        <!-- Step 1: Name -->

        <div class="mt-10">
          <label for="trip-name" class="block mb-2 text-sm font-medium text-white">TRIP NAME</label>
          <div class="flex">
            <span
              class=" w-[48px] h-[42px] inline-flex items-center px-3 text-sm text-gray-90 border rounded-e-0 rounded-s-md bg-gray-600 text-gray-400 border-gray-600">
              <!-- New SVG -->
              <svg class="w-10 h-10 text-[#22272d]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z" />
              </svg>
            </span>
            <input [(ngModel)]="tripName" name="name" #name="ngModel" required type="text" id="trip-name"
              class="rounded-none rounded-e-lg border block flex-1 min-w-0 w-full text-sm p-2.5  bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:outline-none"
              placeholder="Enter your trip name">
          </div>
          <div *ngIf="name.invalid && tripFormSubmitted" class="text-red-500 mt-2">
            <div *ngIf="name.errors && name.errors['required']">Name is required</div>
          </div>
        </div>

        <!-- Step 1: Date -->
        <div class="mt-6">

          <label class="block mb-2 text-sm font-medium text-white">START DATE - END DATE</label>
          <div
            class="overflow-hidden w-full h-[42px] text-white text-sm rounded-lg border bg-gray-700 border-gray-600 placeholder-gray-400 flex items-center"
            appearance="fill">
            <mat-datepicker-toggle class="text-gray-400 bg-gray-600" matIconSuffix
              [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-input class="px-2.5" [rangePicker]="picker">
              <input [(ngModel)]="startDate" name="start" #startDateInput matStartDate placeholder="Start date"
                required>
              <input [(ngModel)]="endDate" name="end" #endDateInput matEndDate placeholder="End date" required>
            </mat-date-range-input>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </div>

          <!-- HERE WE DO ERROR HANDLING -->
          <div class="flex items-center gap-2 mt-2">
            <div *ngIf="tripForm.controls['start'] && tripFormSubmitted" class="text-red-500">
              <div *ngIf="
                  tripForm.controls['start'].errors &&
                  tripForm.controls['start'].errors['required']
                ">
                Start date is required
              </div>
            </div>
            <div *ngIf="tripForm.controls['start'] && tripFormSubmitted" class="text-red-500">
              <div *ngIf="
              tripForm.controls['start'].errors &&
              tripForm.controls['start'].errors['required']
            ">-
              </div>
            </div>
            <div *ngIf="tripForm.controls['end'] && tripFormSubmitted" class="text-red-500">
              <div *ngIf="
                  tripForm.controls['end'].errors &&
                  tripForm.controls['end'].errors['required']
                ">End date is required
              </div>
            </div>
          </div>
        </div>

        <div class="mt-6">
          <label class="block mb-2 text-sm font-medium text-white">COVER PHOTO (optional)</label>
          <div class="flex items-center justify-center w-full relative">
            <!-- Image Preview -->

            <img *ngIf="imagePreviewUrl" [src]="imagePreviewUrl" alt="Image Preview"
              class="w-full h-44 object-cover rounded-lg absolute inset-0" />

            <!-- Dropzone -->
            <label for="dropzone-file"
              class="flex flex-col items-center justify-center w-full h-44 border-2 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
              <div class="flex flex-col items-center justify-center pt-3 pb-4">
                <svg class="w-6 h-6 mb-2 text-gray-500 dark:text-gray-400" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                </svg>
                <p class="mb-1 text-xs font-semibold text-gray-500 dark:text-gray-400">
                  Click or drag and drop to upload
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">
                  Supported formats: SVG, PNG or JPG
                </p>
              </div>
              <input id="dropzone-file" type="file" class="hidden" (change)="updateFileName($event)"
                accept=".svg, .png, .jpg" />
            </label>
          </div>
        </div>

        <div class="w-full border-b border-b-[#29303d] flex items-center justify-between px-2 py-3 mt-2 rounded-sm">
          <fa-icon class="fa-lg text-[#a0a0a5]" [icon]="faImage"></fa-icon>
          <div class="flex flex-col items-start space-y-1">
            <ng-container *ngIf="!selectedFileName; else selectedFileTemplate">
              <p class="text-md text-gray-500 dark:text-gray-400">
                No file selected
              </p>
            </ng-container>
            <ng-template #selectedFileTemplate>
              <div class="flex items-center gap-3">
                <p class="text-md text-gray-500">{{ selectedFileName }}</p>
                <div class="bg-red-500 px-2 py-1 cursor-pointer text-white hover:text-red-700 rounded-md">
                  <button (click)="removeImage()" class="focus:outline-none">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section *ngIf="currentStep === 2" id="step2" class="max-w-4xl mx-auto">
    <!-- Step 2 Content -->
    <div class="step-content mt-10" id="step-2">
      <h1 class="text-3xl lg:text-4xl font-bold mb-1">
        Personalize Your Sharing Settings
      </h1>
      <p class="text-lg text-gray-500">
        Choose who gets to see your trip details and how much you want to share by setting your preferences:
      </p>

      <!-- Step 2 Form -->
      <form class="mt-10 space-y-8" #tripForm2="ngForm">
        <div>
          <label class="block mb-2 text-sm font-medium text-white">WHO CAN SEE YOUR TRIP?</label>
          <!-- Public Trip Radio Button -->
          <div class="flex items-center ml-5">
            <input [(ngModel)]="isShared" [value]="true" id="public-radio" type="radio" name="sharingOption" required
              #publicRadio="ngModel" />
            <label for="public-radio" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
              Public Trip
              <span class="text-gray-500 dark:text-gray-400">
                - Visible to Everyone</span>
            </label>
          </div>

          <!-- Private Trip Radio Button -->
          <div class="flex items-center mt-2 ml-5">
            <input [(ngModel)]="isShared" [value]="false" id="private-radio" type="radio" name="sharingOption" required
              #privateRadio="ngModel" />
            <label for="private-radio" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
              Private Trip
              <span class="text-gray-500 dark:text-gray-400">
                - Visible only to Invited Participants</span>
            </label>
          </div>

          <div *ngIf="
                (publicRadio.invalid || privateRadio.invalid) &&
                tripFormSubmitted2
              " class="text-red-500 mt-2">
            <div *ngIf="
                  (publicRadio.errors && publicRadio.errors['required']) ||
                  (privateRadio.errors && privateRadio.errors['required'])
                ">
              Option is required
            </div>
          </div>
        </div>

        <!-- Trip Description -->
        <div class="mt-6">
          <label class="block mb-2 text-sm font-medium text-white">DESCRIPTION</label>
          <textarea [(ngModel)]="tripDescription" #description="ngModel"
            class="border focus:outline-none w-full p-2.5 rounded-md bg-gray-700 border-gray-600" id="tripDescription"
            placeholder="Write a few sentences about your trip" name="tripDescription" required rows="4"></textarea>

          <div *ngIf="
              (description.invalid || description.invalid) && tripFormSubmitted2
            " class="text-red-500 mt-2">
            <div *ngIf="
                (description.errors && description.errors['required']) ||
                (description.errors && description.errors['required'])
              ">
              Description is required
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section *ngIf="currentStep === 3" id="step3" class="max-w-4xl mx-auto">
    <div class="mt-10">
      <h1 class="text-3xl lg:text-4xl font-bold mb-1">Overview Trip</h1>
      <p class="text-lg text-gray-500">
        This is a quick look at your trip. Once you finish, you'll be ready for your adventure!
      </p>
    </div>

    <!-- Trip Details Card -->
    <div class="bg-gray-700 rounded-lg p-6 mt-10">
      <h2 class="text-2xl font-semibold mb-4">Trip Details</h2>

      <!-- Display Trip Information -->
      <div class="grid grid-cols-2 gap-4">
        <div>
          <p class="text-lg text-gray-500">TRIP NAME</p>
          <p class="text-md text-white font-normal">{{ tripName }}</p>
        </div>
        <div>
          <p class="text-lg text-gray-500">START DATE</p>
          <p class="text-md text-white font-normal">{{ startDate | date:'MM/dd/yyyy' }}</p>
        </div>
        <div>
          <p class="text-lg text-gray-500">END DATE</p>
          <p class="text-md text-white font-normal">{{ endDate | date:'MM/dd/yyyy' }}</p>
        </div>
        <div>
          <p class="text-xl text-gray-500">STATUS</p>
          @if (isShared) {
          <p class="text-lg text-white font-normal">Trip is public</p>
          } @else {
          <p class="text-lg text-white font-normal">Trip is private</p>
          }
        </div>
      </div>

      <!-- Trip Description -->
      <div class="mt-6">
        <p class="text-lg text-gray-500">TRIP DESCRIPTION</p>
        <p class="text-md text-white front-normal">{{ tripDescription }}</p>
      </div>

      <!-- Preview Image (Assuming you have an image URL) -->
      <div class="mt-6">
        <p class="text-lg text-gray-500 font-normal">PREVIEW IMAGE</p>
        @if (imagePreviewUrl === undefined) {
        <p class="text-md text-white font-normal">This trip has no image.</p>
        } @else {
        <img *ngIf="imagePreviewUrl" [src]="imagePreviewUrl" alt="Image Preview"
          class="w-full h-44 object-cover rounded-lg inset-0" />
        }
      </div>
    </div>

    <!-- Additional Information -->
    <div class="mt-8">
      <h2 class="text-xl font-normal mb-2">Additional Information</h2>
      <p class="text-lg text-gray-500">
        Your trip details are set! You can add activities after you've
        created your trip.
      </p>
    </div>
  </section>

  <section class="max-w-4xl mx-auto">
    <div class="flex justify-between mt-8">
      <button type="button" (click)="prevStep()" [disabled]="isPrevButtonDisabled()"
        [ngClass]="{ 'disabled-cursor': isPrevButtonDisabled() }"
        class="flex items-center gap-2 px-4 py-2 font-semibold text-gray-600 bg-gray-200 rounded-md hover:bg-gray-300 focus:outline-none">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
        <p>Previous</p>
      </button>

      <button *ngIf="currentStep < 3" type="button" (click)="nextStep()"
        class="cursor-pointer flex items-center gap-2 bg-[#e66462] transition duration-200 hover:bg-[#ea7a78] rounded-md px-4 py-2 font-semibold text-white focus:outline-none">
        <p>Continue</p>
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </button>

      <button *ngIf="currentStep === 3" type="button" (click)="submit()"
        class="px-4 py-2 font-semibold text-white rounded-md bg-[#e66462] transition duration-200 hover:bg-[#ea7a78] focus:outline-none">
        Finish
      </button>
    </div>
  </section>

  <app-toast [showSuccessToast]="isSubmitted" [message]="'Trip created successfully!'" />
  <app-toast [showErrorToast]="isError" [message]="'Failed to create the trip. Please try again.'" />
</main>