<h1 *ngIf="isAdd" class="text-custom-orange text-4xl mb-8 text-center">
  Add activity on {{ date | date : "dd MMMM yyyy" }}
</h1>
<h1 *ngIf="isEdit" class="text-custom-orange text-4xl mb-8 text-center">
  Edit the activity: {{ activity.name }} ({{
    activity.startDate | date : "dd MMM yyyy"
  }})
</h1>
<form (ngSubmit)="onSubmit()" #activityForm="ngForm">
  <div class="mb-6">
    <label for="name" class="block mb-2 text-md font-medium text-custom-orange"
      >Activity name</label
    >
    <input
      type="name"
      id="name"
      name="name"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus-visible:ring-red-500 focus-visible:border-red-500 block w-full p-2.5"
      placeholder="Activity name"
      required
      [(ngModel)]="activity.name"
      #name="ngModel"
    />
    <div [hidden]="name.valid || name.pristine" class="text-red-500 mt-2">
      Name is required
    </div>
  </div>
  <div class="grid grid-cols-2 gap-2">
    <div class="mb-6">
      <label
        for="name"
        class="block mb-2 text-md font-medium text-custom-orange"
        >Start time</label
      >
      <input
        type="time"
        id="startTime"
        name="startTime"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required
        [(ngModel)]="startTime"
        #start="ngModel"
      />
      <div [hidden]="start.valid || start.pristine" class="text-red-500 mt-2">
        Start time is required
      </div>
    </div>
    <div class="mb-6">
      <label
        for="name"
        class="block mb-2 text-md font-medium text-custom-orange"
        >End time</label
      >
      <input
        type="time"
        id="endTime"
        name="endTime"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required
        [(ngModel)]="endTime"
        #end="ngModel"
      />
      <div [hidden]="end.valid || end.pristine" class="text-red-500 mt-2">
        End time is required
      </div>
    </div>
    <div class="mb-6">
      <label
        for="name"
        class="block mb-2 text-md font-medium text-custom-orange"
        >Price</label
      >
      <input
        type="number"
        id="price"
        name="price"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Price"
        [(ngModel)]="activity.price"
        #price="ngModel"
      />
    </div>
    <div class="mb-6">
      <label
        for="name"
        class="block mb-2 text-md font-medium text-custom-orange"
        >Activity type</label
      >
      <select
        name="activityTypeId"
        id="activityTypeId"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
        [(ngModel)]="activityTypeId"
      >
        <option value="0" disabled selected>Select an activity type</option>
        <option *ngFor="let type of activityTypes" [value]="type.activityId">
          {{ type.name }}
        </option>
      </select>
      <div [hidden]="!isActivityTypeError" class="text-red-500 mt-2">
        Choose an activity type
      </div>
    </div>
  </div>
  <button
    type="submit"
    *ngIf="isAdd"
    [disabled]="!activityForm.form.valid || isSubmitted"
    class="text-white bg-blue-700 enabled:hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-75"
  >
    Add
  </button>
  <button
    type="submit"
    *ngIf="isEdit"
    [disabled]="!activityForm.form.valid || isSubmitted"
    class="text-white bg-blue-700 enabled:hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-75"
  >
    Save
  </button>
</form>
