<div class="admin-panel">
    <h2 class="text-2xl text-white">Admin Dashboard</h2>
    <table class="table-auto w-full border border-white">
      <thead class="text-white">
        <tr class="bg-custom-lighter-background">
          <th class="px-4 py-2 border border-white text-center">ID</th>
          <th class="px-4 py-2 border border-white text-center">Name</th>
          <th class="px-2 py-2 border border-white text-center" style="width: 100px;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-custom-table-data" *ngFor="let activity of activities">
          <td class="px-4 py-2 text-white border border-white text-center">{{ activity.activityId }}</td>
          <td class="px-4 py-2 text-white border border-white text-center">{{ activity.name }}</td>
          <td class="px-4 py-2 border border-white">
            <div class="flex justify-center">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mr-2" (click)="editActivity(activity.id)">Edit</button>
              <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full" (click)="deleteActivity(activity.id)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  