<h1 class="mt-5 text-center text-4xl text-[#37888A] font-bold">Tom's Trip</h1>
<h2 class="my-5 text-center text-2xl">15/08/2024 - 25/08/2024</h2>
<div class="mt-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-3">
    <div class="flex p-3 justify-around border-2 border-[#DDDDDD] rounded-md">
        <p class="font-bold text-[#37888A] self-center">15/08/2024</p>
        <div class="self-center">
            <p class="text-[#37888A]">Swimming - 9:00</p>
            <p class="text-[#37888A]">Rock climbing - 15:00</p>
        </div>
    </div>
    <div class="flex p-3 gap-10 justify-around border-2 border-[#DDDDDD] rounded-md cursor-pointer" (click)="show_detail()">
        <p class="font-bold text-[#37888A] self-center">15/08/2024</p>
        <ul class="self-center list-disc">
            <li class="text-[#37888A]">Soccer - 9:00</li>
            <li class="text-[#37888A]">Lunch - 12:00</li>
            <li class="text-[#37888A]">Kayak - 14:00</li>
            <li class="text-[#37888A]">Evening hike - 20:00</li>
        </ul>
    </div>
    <div class="flex p-3 justify-around border-2 border-[#DDDDDD] rounded-md">
        <p class="font-bold text-[#37888A] self-center">15/08/2024</p>
        <div class="self-center">
            <p class="text-[#37888A]">Swimming - 9:00</p>
            <p class="text-[#37888A]">Rock climbing - 15:00</p>
        </div>
    </div>
    <div class="flex p-3 justify-around border-2 border-[#DDDDDD] rounded-md">
        <p class="font-bold text-[#37888A] self-center">15/08/2024</p>
        <div class="self-center">
            <p class="text-[#37888A]">Swimming - 9:00</p>
            <p class="text-[#37888A]">Rock climbing - 15:00</p>
        </div>
    </div>
    <div class="flex p-5 justify-around border-2 border-[#DDDDDD] rounded-md">
        <p class="font-bold text-[#37888A] self-center">15/08/2024</p>
        <div class="self-center">
            <p class="text-[#37888A]">Swimming - 9:00</p>
            <p class="text-[#37888A]">Rock climbing - 15:00</p>
        </div>
    </div>
    <div class="flex p-5 justify-around border-2 border-[#DDDDDD] rounded-md h-[123px]">
        <p class="font-bold text-[#37888A] self-center">15/08/2024</p>
        <div class="self-center">
            <p class="text-[#37888A]">Swimming - 9:00</p>
            <p class="text-[#37888A]">Rock climbing - 15:00</p>
        </div>
    </div>
</div>
