<main class="mx-auto container">
  <h1 class="text-3xl lg:text-4xl font-bold text-white mb-6 text-center">
    See other people's experiences
  </h1>
  <section>
    <div class="relative">
      <input
        [(ngModel)]="searchName"
        name="searchName"
        type="text"
        id="searchName"
        class="mb-5 rounded-lg border block flex-1 w-1/2 mx-auto text-sm p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:outline-none"
        placeholder="Filter by trip name"
        (ngModelChange)="filterTrips()"
      />
      @if (searchName) {
      <span
        class="absolute end-1/4 bottom-2.5 pr-3 cursor-pointer"
        (click)="clearSearch()"
      >
        <fa-icon
          class="hidden md:block fa-lg text-custom-grey-text"
          [icon]="faCross"
        ></fa-icon>
      </span>
      }
    </div>
    <hr class="w-3/4 mx-auto" />
    <ul
      class="flex justify-between flex-col md:flex-row flex-wrap w-1/2 mx-auto m-4"
    >
      @for (category of categories; track category.categoryId) {
      <li
        [ngClass]="
          isInSearchCategories(category.categoryId)
            ? 'border-white'
            : 'border-transparent'
        "
        class="text-white cursor-pointer border-b-2 hover:border-b-2 hover:border-white"
        (mousedown)="setCategory(category.categoryId)"
      >
        <p>{{ category.name }}</p>
      </li>
      }
    </ul>
  </section>

  @if (isLoading) {
  <app-page-loader></app-page-loader>
  }

  <section class="flex flex-wrap justify-center gap-6">
    @for (trip of filteredTrips; track trip.tripId) {
    <article
      class="cursor-pointer hover:bg-gray-600 shadow-md hover:shadow-lg bg-custom-lighter-background card rounded-lg flex content-between justify-between flex-col w-[300px] md:w-[350px] h-[450px] card col-start-1 col-end-2"
      (mousedown)="showActivities(trip)"
    >
    <div class="h-1/2 w-full relative rounded-t-lg overflow-hidden">
      @if (isImageValid(trip.picture)) {
        <img
          src="{{ trip.picture }}"
          alt="{{ trip.name }} Picture"
          class="absolute inset-0 w-full h-full object-cover object-center"
        />
        } @else {
        <img
          src="assets/default.png"
          alt="Default Picture"
          class="absolute inset-0 w-full h-full object-cover object-center"
        />
        }
    </div>
        
      <div class="p-4 overflow-auto info h-1/4">
        <h2 class="text-white font-bold text-xl mb-2">{{ trip.name }}</h2>
        <p class="text-white">{{ trip.startDate }} - {{ trip.endDate }}</p>
        <p class="text-white">{{ trip.description }}</p>
      </div>
      <ul class="p-4 overflow-auto info flex flex-wrap gap-4 h-1/8">
        @for (tripCategory of trip.categories; track tripCategory.categoryId) {
        <li
          class="text-white bg-[#20202d] p-1 border-2 border-[#4a4a68] rounded-lg"
        >
          <p>{{ tripCategory.category.name }}</p>
        </li>
        }
      </ul>
      <button
        class="button bg-[#e66462] cursor-pointer transition duration-200 text-white px-8 py-2 rounded-b-lg hover:bg-[#ea7a78]"
        (click)="navigateToTrip(trip.tripId)"
      >
        View calendar
      </button>
    </article>
    }
  </section>

  @if (sidebar) {
  <section
    class="fixed overflow-auto bottom-0 w-full max-h-80vh md:top-[10%] md:right-0 z-40 md:w-80 md:h-screen transition-transform bg-custom-lighter-background overflow-auto info opacity-90"
  >
    <h1 class="text-white font-bold text-xl m-2">{{ trip!.name }}</h1>
    <hr />
    <h2 class="text-white font-bold text-xl m-2">Activities</h2>
    <ul class="m-2">
      @for (activity of trip!.activities; track activity.tripActivityId) {
      <li class="text-white">
        <p>
          <span class="pr-1"
            ><fa-icon
              class="fa-solid text-gray-400 fa-xs"
              [icon]="faCircle"
            ></fa-icon></span
          >{{ activity.name }} {{ activity.startDate }} -
          {{ activity.endDate }}
        </p>
      </li>
      } @empty {
      <li class="text-white">
        <p>No activities</p>
      </li>
      }
    </ul>
  </section>
  }
</main>
