<main class="mt-10 mx-auto container">
  <h1
    class="text-3xl lg:text-4xl font-bold text-white text-center"
  >
    See Other People's Experiences
  </h1>

  <hr class="my-3 mb-6 w-14 border-custom-orange border mx-auto">

  <app-trip-filter
    (searchNameChange)="submit($event)"
    (categorySelected)="submit(undefined, $event)"
  ></app-trip-filter>

  <div class="mb-3 flex justify-center md:justify-start">
    <pagination-controls
      (pageChange)="pageChanged($event)"
      class="my-pagination"
    ></pagination-controls>
    <select
      name="pageSize"
      id="pageSize"
      [(ngModel)]="selectedPageSize"
      (ngModelChange)="changePageSize($event)"
      class="h-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-0 bg-custom-orange text-white"
    >
      @for (size of pageSizes; track size) {
      <option [value]="size" class="hover:bg-custom-orange-hover">
        {{ size }}
      </option>
      }
    </select>
  </div>

  @if (isLoading) {
  <app-page-loader></app-page-loader>
  }

  <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
    @for (trip of trips | paginate: config; let i = $index; track trip.tripId) {
    <app-public-trip-card
      [trip]="trip"
      (selectedTrip)="handleTripChange($event)"
    ></app-public-trip-card>
    } @empty { @if (!isLoading) {
    <h2
      class="text-2xl lg:text-3xl font-bold text-white text-center md:text-left"
    >
      No Trips Found
    </h2>
    } }
  </section>

  <div class="mt-5 flex justify-center md:justify-start">
    <pagination-controls
      (pageChange)="pageChanged($event)"
      class="my-pagination"
    ></pagination-controls>
    <select
      name="pageSize"
      id="pageSize"
      [(ngModel)]="selectedPageSize"
      (ngModelChange)="changePageSize($event)"
      class="h-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-0 bg-custom-orange text-white"
    >
      @for (size of pageSizes; track size) {
      <option [value]="size" class="hover:bg-custom-orange-hover">
        {{ size }}
      </option>
      }
    </select>
  </div>

  @if (sidebar) {
  <app-activity-sidebar [trip]="trip"></app-activity-sidebar>
  }
</main>
