<article
      class="cursor-pointer hover:bg-gray-600 shadow-md hover:shadow-lg bg-custom-lighter-background card rounded-lg flex content-between justify-between flex-col h-[450px] card col-start-1 col-end-2"
      (mousedown)="showActivities(trip)"
    >
      <div class="h-1/2 w-full relative rounded-t-lg overflow-hidden">
        <img
          src="{{ trip.picture }}"
          alt="{{ trip.name }} Picture"
          class="absolute inset-0 w-full h-full object-cover object-center"
          onerror="this.src = 'assets/default.jpg'"
        />
      </div>
      <div class="h-1/2">
        <div class="p-4 overflow-auto info h-1/2">
          <h2 class="text-white font-bold text-xl mb-2">{{ trip.name }}</h2>
          <p class="text-white">
            {{ trip.startDate | date : "dd/MM/yyyy" }} -
            {{ trip.endDate | date : "dd/MM/yyyy" }}
          </p>
          <p class="text-white">{{ trip.description }}</p>
        </div>
        <ul class="p-4 overflow-auto info flex flex-wrap gap-4 h-1/4">
          @for (tripCategory of trip.categories; track tripCategory.categoryId)
          {
          <li
            class="text-white bg-[#20202d] p-1 border-2 border-[#4a4a68] rounded-lg"
          >
            <p>{{ tripCategory.category.name }}</p>
          </li>
          }
        </ul>
        <button
          class="button bg-[#e66462] cursor-pointer transition duration-200 text-white w-full px-8 py-2 rounded-b-lg hover:bg-[#ea7a78] h-1/4"
          (click)="navigateToTrip(trip.tripId)"
        >
          View calendar
        </button>
      </div>
    </article>