<section class="my-12 lg:py-10">
    <div class="container mx-auto">
      <h2 class="text-3xl lg:text-4xl font-bold text-white text-center">Our mission</h2>
      <hr class="my-3 w-14 border-custom-orange border mx-auto">
      <!-- about-us.component.html -->
<div class="text-xl">
    <p class="text-custom-grey-text text-center mt-4">Welcome to Trip.Planner, where the journey begins and memories last a lifetime!</p>
    <p class="text-custom-grey-text text-center mt-4">Founded with a passion for travel and a commitment to exceptional experiences,
         Trip.Planner is more than just a trip planner, we're your dedicated travel companions. 
         Our mission is to redefine the way you explore the world, providing a seamless and personalized travel planning experience.</p>
    <p class="text-custom-grey-text text-center mt-4">At the heart of Trip.Planner is a team of avid travelers, each with a unique love for discovering new places and cultures. We bring this enthusiasm into crafting curated itineraries that go beyond the ordinary, 
        ensuring every trip is a distinctive adventure tailored to your preferences.</p>
    <p class="text-custom-grey-text text-center mt-4">Thank you for choosing Trip.Planner as your travel partner. Let's embark on a journey together and create memories that will last a lifetime!</p>
    <!-- Add more content as needed -->
  </div>
    </div>
  </section>


<section class="my-12 lg:py-10">
    <div class="container mx-auto">
      <h2 class="text-3xl lg:text-4xl font-bold text-white text-center">Our team</h2>
      <hr class="my-3 w-14 border-custom-orange border mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <!-- Employee 1 -->
        <div class="rounded-lg shadow-md hover:shadow-lg p-6 bg-custom-lighter-background">
          <img src="assets/profilePicture1.jpg" alt="Guest 1" class="w-40 h-40 rounded-full mx-auto object-cover">
          <h3 class="text-xl font-bold text-white text-center mt-4">Jane Doe</h3>
        <p class="text-custom-grey-text text-center mt-4">CEO & Founder</p>
        <p class="text-custom-grey-text text-center mt-4">Some text that describes me lorem ipsum ipsum lorem.</p>
        <a href="mailto:jane@example.com"><button class="text-center block w-full py-2 px-4 mt-3 bg-custom-orange text-white rounded-lg hover:bg-custom-orange-hover">Contact</button></a>
        </div>

        <!-- Employee 2 -->
        <div class="rounded-lg shadow-md hover:shadow-lg p-6 bg-custom-lighter-background">
            <img src="assets/profilePicture1.jpg" alt="Guest 1" class="w-40 h-40 rounded-full mx-auto object-cover">
            <h3 class="text-xl font-bold text-white text-center mt-4">Jane Doe</h3>
          <p class="text-custom-grey-text text-center mt-4">CEO & Founder</p>
          <p class="text-custom-grey-text text-center mt-4">Some text that describes me lorem ipsum ipsum lorem.</p>
          <a href="mailto:jane@example.com"><button class="text-center block w-full py-2 px-4 mt-3 bg-custom-orange text-white rounded-lg hover:bg-custom-orange-hover">Contact</button></a>
          </div>

        <!-- Employee 3 -->
        <div class="rounded-lg shadow-md hover:shadow-lg p-6 bg-custom-lighter-background">
            <img src="assets/profilePicture1.jpg" alt="Guest 1" class="w-40 h-40 rounded-full mx-auto object-cover">
            <h3 class="text-xl font-bold text-white text-center mt-4">Jane Doe</h3>
          <p class="text-custom-grey-text text-center mt-4">CEO & Founder</p>
          <p class="text-custom-grey-text text-center mt-4">Some text that describes me lorem ipsum ipsum lorem.</p>
          <a href="mailto:jane@example.com"><button class="text-center block w-full py-2 px-4 mt-3 bg-custom-orange text-white rounded-lg hover:bg-custom-orange-hover">Contact</button></a>
          </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 mt-4">
        <!-- Employee 4 -->
        <div class="rounded-lg shadow-md hover:shadow-lg p-6 bg-custom-lighter-background">
            <img src="assets/profilePicture1.jpg" alt="Guest 1" class="w-40 h-40 rounded-full mx-auto object-cover">
            <h3 class="text-xl font-bold text-white text-center mt-4">Jane Doe</h3>
          <p class="text-custom-grey-text text-center mt-4">CEO & Founder</p>
          <p class="text-custom-grey-text text-center mt-4">Some text that describes me lorem ipsum ipsum lorem.</p>
          <a href="mailto:jane@example.com"><button class="text-center block w-full py-2 px-4 mt-3 bg-custom-orange text-white rounded-lg hover:bg-custom-orange-hover">Contact</button></a>
        </div>

        <!-- Employee 5 -->
        <div class="rounded-lg shadow-md hover:shadow-lg p-6 bg-custom-lighter-background">
            <img src="assets/profilePicture1.jpg" alt="Guest 1" class="w-40 h-40 rounded-full mx-auto object-cover">
            <h3 class="text-xl font-bold text-white text-center mt-4">Jane Doe</h3>
          <p class="text-custom-grey-text text-center mt-4">CEO & Founder</p>
          <p class="text-custom-grey-text text-center mt-4">Some text that describes me lorem ipsum ipsum lorem.</p>
          <a href="mailto:jane@example.com"><button class="text-center block w-full py-2 px-4 mt-3 bg-custom-orange text-white rounded-lg hover:bg-custom-orange-hover">Contact</button></a>
        </div>
      </div>
    </div>
  </section>