<section
    class="container mx-auto bg-custom-lighter-background rounded-lg shadow-lg mb-5 p-4"
  >
    <h2
      class="text-2xl lg:text-3xl font-bold text-white text-center md:text-left"
    >
      Filter Public Trips
    </h2>
    <hr
      class="my-3 w-3/4 md:w-14 border-custom-orange border mx-auto md:mx-0"
    />
    <div class="relative md:flex md:items-center">
      <input
        [(ngModel)]="searchName"
        name="searchName"
        type="text"
        id="searchName"
        class="mb-3 rounded-lg border block flex-1 mx-auto w-1/2 md:mx-0 text-sm p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:outline-none"
        placeholder="Filter By Trip Name"
        (ngModelChange)="onSearchNameChange($event)"
      />
      @if (searchName) {
      <fa-icon
        class="hidden md:block fa-lg text-custom-grey-text cursor-pointer absolute end-0 pr-3 mb-3 p-2"
        [icon]="faCross"
        (click)="onSearchNameChange('')"
      ></fa-icon>
      }
    </div>

    <ul
      class="flex justify-between flex-col gap-3 md:gap-0 md:flex-row flex-wrap w-3/4 md:w-full mx-auto md:mx-0"
    >
      @for (category of categories; track category.categoryId) {
      <li
        matTooltip="{{ category.description }}"
        matTooltipPosition="above"
        matTooltipShowDelay="500"
        matTooltipHideDelay="100"
        [ngClass]="
          isInSearchCategories(category.categoryId)
            ? 'border-white'
            : 'border-transparent'
        "
        class="text-white cursor-pointer border-b-2 hover:border-b-2 hover:border-white"
        (mousedown)="setCategory(category.categoryId)"
      >
        <p class="p-2 text-center md:p-0">{{ category.name }}</p>
      </li>
      }
    </ul>
    <button
        class="mt-3 px-4 py-2 rounded-md bg-custom-orange hover:bg-custom-orange-hover text-white"
        (click)="submit()"
      >
        Search
      </button>
</section>