.custom-sidebar {
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
}

.my-pagination::ng-deep .ngx-pagination .current {
    background: #e66462  !important;
    border-radius: 25%;
}

.my-pagination::ng-deep .ngx-pagination a:not(.current) {
    color: white;
    border-radius: 25%;
    /* Add any additional styles for unselected page numbers */
}

.my-pagination::ng-deep .ngx-pagination a:not(.current):hover {
    background-color: #ea7a78;
}
  