<main class="mx-auto container">
    <h1 class="text-3xl lg:text-4xl font-bold text-white mb-6">Your trips</h1>

    <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">
        <!-- Add trip card -->
        <div routerLink="/getstarted" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="hover:bg-gray-600 cursor-pointer rounded-lg shadow-md hover:shadow-lg p-6 bg-custom-lighter-background md:h-[208px] flex items-center justify-center">
            <div>
                <h3 class="text-white text-center">
                    <fa-icon [icon]="faPlus" class="text-3xl"></fa-icon>
                </h3>
                <p class="text-white text-center">
                    Add trip
                </p>
            </div>
        </div>

        <!-- User trip cards -->
        @for (trip of allTripsFromUser; track $index) {
        <div
            class="relative group hover:bg-gray-600 cursor-pointer rounded-lg shadow-md hover:shadow-lg bg-custom-lighter-background h-[208px] p-6">
            <div>
                <h2 class="text-white font-bold text-xl mb-2">{{trip.name}}</h2>
                <p class="text-custom-grey-text text-md">{{trip.description}}</p>
            </div>

            <!-- Delete Button/Trash Icon -->
            <button (click)="showModal(trip.tripId)"
                class="absolute bottom-2 right-2 bg-red-500 p-2 text-white rounded-full  hover:bg-red-600 focus:outline-none">
                <!-- Example with a trash can icon -->
                <fa-icon class="p-1" [icon]="faTrash"></fa-icon>
            </button>
        </div>
        } @empty {
        <div class="text-gray-500 text-xl font-semibold">
            No trips found for the user.
        </div>
        }

        <div id="popup-modal" [ngClass]="{'block' : warning, 'hidden' : !warning}"
            class="fixed top-0 right-0 bottom-0 left-0 flex items-center justify-center bg-black bg-opacity-25 z-50">

            <div class="relative rounded-lg shadow bg-gray-700 w-full max-w-md">
                <button type="button" (click)="hideModal()"
                    class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="popup-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>

                <div class="p-4 md:p-5 text-center">
                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                        Are you sure you want to delete this trip?
                    </h3>
                    <button (click)="deleteTrip()" data-modal-hide="popup-modal" type="button"
                        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                        Yes, I'm sure
                    </button>
                    <button data-modal-hide="popup-modal" type="button" (click)="hideModal()"
                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                        No, cancel
                    </button>
                </div>
            </div>

        </div>


    </section>

    <hr class="my-16 border-custom-grey-text border">


    <app-toast [showSuccessToast]="isDeleted" [message]="'Trip successfully deleted!'" />
</main>