nav a.active {
  text-decoration: underline;
  color: #37888a;
  font-weight: bold;
}

.overlay {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.overlay.visible {
  opacity: 1;
  transform: translateY(0);
}