<nav class="flex justify-between items-center h-28 font-sans ">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <img class="cursor-pointer w-[203px] h-[45px]" src="assets/logo.png" alt="logo">
  </a>
  <div [class.open]="isMenuOpen" [class.closed]="!isMenuOpen" class="duration-500 px-5">
    <ul class="md:flex-row flex-col md:items-center md:gap-[4vw] gap-8 hidden md:flex">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          class="text-custom-nav-text hover:text-white">Home</a>
      </li>
      <li>
        <a routerLink="/admin/category" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          class="text-custom-nav-text hover:text-white">Categories</a>
      </li>
      <li>
        <a href="/aboutus" class="text-custom-nav-text hover:text-white">About us</a>
      </li>
      <li>
        <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          class="text-custom-nav-text hover:text-white">Test API</a>
      </li>
      <li>
        <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          class="text-custom-nav-text hover:text-white">Admin</a>
      </li>
    </ul>
  </div>
  <div class="flex items-center gap-6">
    <app-user-profile class="text-[#989896]"></app-user-profile>
    <app-login-button *ngIf="!isAuthenticated()" class="bg-[#e66462] transition duration-200 text-white px-8 py-2 rounded-lg hover:bg-[#ea7a78] hidden md:block"></app-login-button>
    <app-logout-button *ngIf="isAuthenticated()" class="bg-[#e66462] transition duration-200 text-white px-8 py-2 rounded-lg hover:bg-[#ea7a78] hidden md:block"></app-logout-button>
    <app-signup-button *ngIf="!isAuthenticated()" class="bg-[#e66462] transition duration-200 text-white px-8 py-2 rounded-lg hover:bg-[#ea7a78] hidden md:block"></app-signup-button>
    

    <ng-template #logoutButton>
      <div class="relative action" (click)="toggleDropdown()">
        <img src="{{loggedInUser.picture}}" class="w-10 h-10 rounded-full cursor-pointer" alt="avatar">

        <!-- Dropdown menu -->
        <div *ngIf="showDropdown"
          class="absolute top-12 right-0 bg-white border border-gray-200 rounded-md shadow-md p-2 z-50 w-64 menu">
          <!-- Additional dropdown items with icons -->
          <h3>{{loggedInUser.name}}<br /><span>{{loggedInUser.email}}</span></h3>
          <ul>
            <li class="cursor-pointer">
              <fa-icon [icon]="faUser" class="mr-2 text-lg"></fa-icon>
              <a href="#">My profile</a>
            </li>
            <li class="cursor-pointer">
              <fa-icon [icon]="faCog" class="mr-2 text-lg"></fa-icon>
              <a href="#">Setting</a>
            </li>
            <li class="cursor-pointer">
              <fa-icon [icon]="faQuestion" class="mr-2 text-lg"></fa-icon>
              <a href="#">Help</a>
            </li>
            <li class="cursor-pointer">
              <fa-icon [icon]="faSignOutAlt" class="mr-2 text-lg"></fa-icon>
              <a href="#">Log out</a>
            </li>
          </ul>
        </div>
      </div>

      <!--<button *ngIf="(_auth.isAuthenticated$ | async)" (click)="_auth.logout()"
        class="bg-custom-orange transition duration-200 text-white px-8 py-2 rounded-lg hover:bg-custom-orange-hover hidden md:block">
        Log out
      </button>-->
    </ng-template>


    <i class="fa-solid fa-bars block md:hidden"></i>
    <fa-icon (click)="onToggleMenu()" id="menu" [icon]="isMenuOpen ? faTimes : faBars"
      class="z-50 text-3xl cursor-pointer md:hidden text-white"></fa-icon>
  </div>
</nav>

<!-- This is my overlay menu -->
<div [class.hidden]="!isMenuOpen" class="fixed inset-0 z-20 flex items-center justify-center">
  <div class="absolute inset-0 opacity-50"></div>
  <div class="fixed inset-y-0 right-0 max-w-full flex flex-col w-full bg-[#1a1a27] shadow-lg">
    <header class="flex items-center justify-between h-28 w-[95%] mx-auto">
      <a href="#">
        <img class="cursor-pointer" src="assets/logo.png" alt="logo">
      </a>
    </header>
    <main class="py-4 w-[95%] mx-auto">
      <nav>
        <ul>
          <li>
            <a (click)="onToggleMenu()" routerLink="/" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" class="block py-2 px-4 text-custom-nav-text hover:text-white">
              <i class="fas fa-home mr-2"></i>Home
            </a>
          </li>
          <li>
            <a (click)="onToggleMenu()" routerLink="/category" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" class="block py-2 px-4 text-custom-nav-text hover:text-white">
              <i class="fas fa-list mr-2"></i>Categories
            </a>
          </li>
          <li>
            <a (click)="onToggleMenu()" href="/aboutus" class="block py-2 px-4 text-custom-nav-text hover:text-white">
              <i class="fas fa-info-circle mr-2"></i>About us
            </a>
          </li>
        </ul>
      </nav>
      <section>
        <app-login-button *ngIf="!isAuthenticated()" class="text-center block py-2 px-4 mt-3 bg-custom-orange text-white rounded-lg hover:bg-custom-orange-hover"></app-login-button>
        <app-logout-button *ngIf="isAuthenticated()" class="text-center block py-2 px-4 mt-3 bg-custom-orange text-white rounded-lg hover:bg-custom-orange-hover"></app-logout-button>
        <app-signup-button *ngIf="!isAuthenticated()" class="text-center block py-2 px-4 mt-3 bg-custom-orange text-white rounded-lg hover:bg-custom-orange-hover"></app-signup-button>
      </section>
    </main>
  </div>
</div>